body{
    background: #ddd repeat left top !important;
    font-weight: 300;
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
    overflow-y: scroll;
    overflow-x: hidden;
}

div{
    margin: 0;
    padding: 0;
}

.pageWidth{
    padding-right: 25px;
    padding-left: 25px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1200px;
}

.headerBar{
    display: flex;
    padding: 15px 0 15px 0;
    align-items: center;
    height: 80px;
    box-sizing: border-box;
}

.headerBar .iconImg{
    width: 40px;
    height: 40px;
}

.headerBar .findForm{
    border-radius: 4px;
    display: flex;
    align-items: center;
    flex: 1;
    margin-left: 50px;
}

.headerBar .findForm .selection{
    display: inline-flex;
    margin-top: 15px;
    min-width: 725px;
}

.headerBar .findForm .inputColor{
    background-color: #e5e5e5;
}

.headerBar .findForm .searchColor{
    background-color: #dd512a;
    border: #dd512a;
}

.headerBar-right{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerBar-right .headerBar-register{
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.2px;
    margin-right: 22px;
}

.headerBar-right .headerBar-login{
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.2px;
    margin-right: 22px;
}

.headerBar-right .searchColor{
    background-color: #dd512a;
    border: #dd512a;
}

.headerBar-nav {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.headerBar-navInner {
    display: flex;
    align-items: center;
}

.headerBar-navInner>.Popup {
    border-right: 1px solid #fff;
    position: relative;
    width: 244px;
    box-sizing: border-box;
    padding: 12px 22px;
    position: relative;;
}

.headerBar-navInner>* {
    padding: 12px 15px;
    line-height: 26px;
    box-sizing: border-box;
    height: 50px;
}

.headerBar-navInner .headerBar-navListCat {
    color: #DD512A;
}

.headerBar-right button:hover{
    background-color: dimgray;
    border: dimgray;
    opacity: 0.5;
}

#overlayRegister{
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 1000;
    cursor: pointer;
}

#overlayLogin{
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.589);
    z-index: 1000;
    cursor: pointer;
}

.formContentPopup{
    width: 400px;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 8px 10px 1px rgba(0, 0, 0, 0.14);
    background-color: #ffffff;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding: 30px;
    box-sizing: border-box;
    z-index: 9999;
}

.popupHeading {
    font-size: 24px;
    font-weight: 500;
    color: #242424;
    text-align: center;
    margin-bottom: 24px;
}

.formContentPopup input{
    margin: 25px 0 25px 0;
    width: 100%;
}

.formContentPopup select{
    margin: 0px 0 15px 0;
    width: 100%;
}

.formContentPopup .setColor{
    background-color: #dd512a;
    border: #dd512a;
}
.formContentPopup button{
    margin-inline-start: 10%;
    width: auto;
}

.formContentPopup button:hover{
    background-color: dimgray;
    border: dimgray;
    opacity: 0.5;
}

.formContentPopup .divider {
    height: 1px;
    background-color: #d8d8d8;
    width: 100%;
    margin: 22px 0;
    position: relative;
}

.divider>span {
    position: absolute;
    width: 200px;
    top: -12px;
    display: block;
    left: calc((100% - 200px)/2);
    background: #fff;
    text-align: center;
}

.divider>a {
    position: absolute;
    width: 150px;
    top: -12px;
    display: block;
    right: 5%;
    background: #fff;
    text-align: center;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #ddd;
    color: #DD512A;
    padding: 5px 0 5px 0;
    font-size: 16px;
    border: none;
}

.dropdown-content {
    
    margin-top: 12px;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 220px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 8px 10px 1px rgba(0, 0, 0, 0.14);
    z-index: 2;
    border-radius: 5%;
}

.dropdown-content a {
    color: rgb(83, 81, 81);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {opacity: 0.5;}
.dropdown-content a:hover {
    transform: scale(1.1);
    background-color: #ddd;
    color: #616060;
}

.dropright-content{
    display: none;
    position: absolute;
    background-color: #adadad;
    min-width: 200px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 8px 10px 1px rgba(0, 0, 0, 0.14);
    z-index: 2;
    border-radius: 5%;
    left: 220px;
    top: 0;
}

.dropright-content a {
    background-color: #adadad;
    color: whitesmoke;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* chỗ này sẽ dùng php or js để xử lý số lượng xuất hiện*/
.dropdown-content>#li1:hover .dropright-content{display: block;}
.dropdown-content>#li2:hover .dropright-content{display: block;}


@media(max-width:800px){
    .pageWidth{ /*Nếu độ rộng của thiết bị tối đa là 800px thì thu ngắn div lại*/
        padding-right: 15px;
        padding-left: 15px;
    }
    .headerBar .findForm .selection{
        min-width: 120px;
    }
    .formContentPopup{
        width: 50%;
    }
}