<<<<<<< HEAD
body{
    background-color: #3f3a33ce  ;
=======
body {
    background-color: rgb(119, 119, 119) !important;
>>>>>>> 07df8cc4f13b39f3067d48063e4dd93813f3f99f
    color: white;
}

.form-row {
<<<<<<< HEAD
    margin-top : 30px;
}


=======
    margin-top: 30px;
}

>>>>>>> 07df8cc4f13b39f3067d48063e4dd93813f3f99f
input[type='text'] {
    background-color: #e5e6eb;
    border-radius: 10px;
    box-sizing: border-box;
    transition: all 0.5s linear;
}

#image-button {
    padding: 10px;
    color: white;
    background-color: #009578;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
<<<<<<< HEAD
  }
  
  #image-button:hover {
    background-color: #00b28f;
  }
  
  #image-text {
    margin-left: 10px;
    font-family: sans-serif;
    color: #aaa;
  }
  
  
=======
}

#image-button:hover {
    background-color: #00b28f;
}

#image-text {
    margin-left: 10px;
    font-family: sans-serif;
    color: #aaa;
}
>>>>>>> 07df8cc4f13b39f3067d48063e4dd93813f3f99f
