/*-------------------------------------------------------------------
    CSS INDEX
    ===================
	1. Theme Default CSS (body, link color, section etc)
	2. global css
    3. header css
    4. content css
	5. footer css
		5.1 footer top
		5.2 footer bottom
	
		
-------------------------------------------------------------------*/


/*-----------------------
Theme Default CSS (body, link color, section, ...)
-------------------------*/

@font-face {
    font-family: "OpenSans-bold";
    src: url("../fonts/OpenSans-Regular.ttf");
}

;
html,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    letter-spacing: 1.1px;
}

body {
    background: rgba(181, 185, 187, 0.11) repeat left top !important;
    font-weight: 300;
    font-size: 15px;
    -webkit-font-smoothing: 'Nunito', sans-serif;
    overflow-y: scroll;
    overflow-x: hidden;
    letter-spacing: 1.1px;
}

div {
    margin: 0;
    padding: 0;
}

a:hover {
    text-decoration: none !important;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: #f5f5f5;
}

.dark-color-outline {
    border: 1px solid #dd512a;
    color: #dd512a;
    border-radius: 0px;
}

.my-overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    cursor: pointer;
    overflow-y: hidden;
    letter-spacing: 1.1px;
}

.my-overlay .wait {
    text-align: center;
    font-size: 35px;
    color: #fefff9;
    font-weight: 700;
    position: fixed;
    top: 48%;
    right: 32%;
    letter-spacing: 1.1px;
}

@media screen and (max-width:576px) {
    body {
        font-size: 10px !important;
    }
}


/*-----------------------------------------------------------
                                header css
-----------------------------------------------------------*/

.container-fluid.my {
    padding-left: 0px !important;
    padding-right: 0px !important;
    background-color: #242526f5;
    letter-spacing: 1.1px;
}

.area-register {
    height: 60px;
    width: 60px;
    position: fixed;
    z-index: 500;
    bottom: 30px;
    right: 30px;
    border-radius: 50%;
    background-color: rgb(182, 17, 25);
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 8px 10px 1px rgba(0, 0, 0, 0.14);
    animation-name: ball;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    letter-spacing: 1.1px;
}

.area-register:hover {
    animation-play-state: paused;
}

.area-register>a>i {
    display: block;
    padding: 25%;
    font-size: 25px;
    color: #ffffff;
    letter-spacing: 1.1px;
}

.area-register>a:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
    letter-spacing: 1.1px;
}

@keyframes ball {
    0% {
        bottom: 30px;
        background-color: red;
        height: 40px;
    }
    25% {
        height: 60px;
        background-color: rgb(255, 7, 40);
    }
    50% {
        bottom: 90px;
        background-color: rgb(7, 85, 255);
        height: 60px;
    }
    75% {
        height: 60px;
        background-color: rgb(0, 174, 255);
    }
    100% {
        bottom: 30px;
        background-color: red;
        height: 40px;
    }
}

.pageWidth {
    padding-right: 1%;
    padding-left: 1%;
    margin-right: auto;
    margin-left: auto;
    max-width: auto;
}

.headerBar {
    display: flex;
    padding: 15px 0 15px 0;
    align-items: center;
    height: 80px;
    box-sizing: border-box;
    justify-content: center;
}

.headerBar .headerBar-left {
    display: flex;
    padding: 10px 0 10px 0;
    align-items: center;
    height: 80px;
    box-sizing: border-box;
}

.headerBar .iconImg {
    width: 80px;
    height: 80px;
}

.headerBar .findForm {
    border-radius: 4px;
    display: flex;
    align-items: center;
    flex: 1;
    margin-left: 20px;
}

.headerBar .findForm .selection {
    display: inline-flex;
    margin-top: 15px;
    min-width: 60vw;
    border-radius: 2px;
    height: auto;
    /* border: 1px solid var(--ytd-searchbox-legacy-border-color); */
    border: 1px solid #ffffff;
    margin-bottom: 1.2em;
}

.search-recommend {
    background: rgb(255, 255, 255) none repeat scroll 0 0;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 5px 5px 10px 5px;
    position: absolute;
    z-index: 1000;
    display: none;
    margin-left: 18px;
    margin-top: 34px;
    width: calc(60vw - 90px);
    min-height: 0;
}

.search-recommend a {
    padding: 5px;
    color: #242424;
    font-weight: 600;
    display: block;
    font-size: 17px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.headerBar-left .category {
    display: block;
    width: 20px;
    padding: 7px 5px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #f9f9fa;
    background-color: #4b4b4b;
    background-clip: padding-box;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    letter-spacing: 1.1px;
    margin-right: -1px;
    height: 32px;
}

.my-form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: 7px 5px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    margin-left: -1px;
    border: 1px solid #fff;
    border-radius: 1px !important;
    height: 32px;
}

@media (prefers-reduced-motion:reduce) {
    .my-form-control {
        transition: none
    }
}

.my-form-control::-ms-expand {
    background-color: transparent;
    border: 0
}

.my-form-control:focus {
    color: #495057;
    background-color: #fff;
    outline-color: #fff;
}

.my-form-control::-webkit-input-placeholder {
    color: #6c757d;
    opacity: 1
}

.my-form-control::-moz-placeholder {
    color: #6c757d;
    opacity: 1
}

.my-form-control:-ms-input-placeholder {
    color: #6c757d;
    opacity: 1
}

.my-form-control::-ms-input-placeholder {
    color: #6c757d;
    opacity: 1
}

.my-form-control::placeholder {
    color: #6e7d6c;
    opacity: 1
}

.my-form-control:disabled,
.my-form-control[readonly] {
    background-color: #e9ecef;
    opacity: 1
}

select.my-form-control:focus::-ms-value {
    color: #495057;
    background-color: #fff
}

.headerBar .findForm .inputColor {
    background-color: #f0f0f0;
}

.headerBar .findForm .searchColor {
    background-color: #343a40;
    border: #343a40;
    color: #fff;
    min-width: 70px;
    height: 32px;
}

.headerBar-right {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 3%;
    letter-spacing: 1.1px;
}

.headerBar-right a {
    color: #ffffff;
    font-weight: 600;
    letter-spacing: 1.1px;
}

.headerBar-right .headerBar-register {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.2px;
    margin-right: 25px;
    letter-spacing: 1.1px;
    /* margin-left: 50px; */
}

.headerBar-right .headerBar-login {
    font-size: 18px;
    font-weight: 500;
    margin-right: 25px;
    color: #ffffff;
    letter-spacing: 1.1px;
}

#my-dropdown-content {
    font-size: 18px;
    font-weight: 500;
    display: none;
    position: absolute;
    background-color: white;
    min-width: 155px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 8px 10px 1px rgba(0, 0, 0, 0.14);
    z-index: 1;
    margin-left: -15px;
    transition: 1s;
    opacity: 0px;
}

#my-dropdown-content a {
    color: #ff5e00;
    padding: 5px 8px;
    text-decoration: none;
    display: block;
    text-align: center;
}

#my-dropdown-content a:hover {
    background-color: #f1f1f1;
    border-radius: 10px;
}

.my-dropdown:hover .headerBar-login {
    color: #33363B;
    letter-spacing: 1.1px;
}

.my-dropdown:hover #my-dropdown-content {
    display: block;
    opacity: 1;
}

.headerBar-right .searchColor {
    background-color: #dd512a;
    border: #dd512a;
}

.headerBar-nav {
    border-top: 1px solid rgb(48, 47, 47);
    border-bottom: 1px solid rgb(48, 47, 47);
}

.headerBar-navInner {
    display: flex;
    align-items: center;
}

.headerBar-navInner>.Popup {
    border-right: 1px solid rgb(48, 47, 47);
    position: relative;
    width: 244px;
    box-sizing: border-box;
    padding: 12px 22px;
    position: relative;
    letter-spacing: 1.1px;
}

.headerBar-navInner>* {
    padding: 12px 15px;
    line-height: 26px;
    box-sizing: border-box;
    height: 50px;
}

.headerBar-navInner .headerBar-navListCat {
    color: #DD512A;
}

.headerBar-right button:hover {
    background-color: dimgray;
    border: dimgray;
    opacity: 0.5;
}

#overlayRegister {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    cursor: pointer;
    overflow-y: scroll;
    letter-spacing: 1.1px;
}

#overlayLogin {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.589);
    z-index: 1000;
    cursor: pointer;
}

#overlayAdminLogin {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.589);
    z-index: 1000;
    cursor: pointer;
}

.formContentPopup {
    width: 400px;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 8px 10px 1px rgba(0, 0, 0, 0.14);
    background-color: #ffffff;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
    padding: 30px;
    box-sizing: border-box;
    z-index: 9999;
}

.popupHeading {
    font-size: 24px;
    font-weight: 500;
    color: #242424;
    text-align: center;
    margin-bottom: 24px;
}

.formContentPopup input {
    margin: 25px 0 25px 0;
    width: 100%;
}

.formContentPopup select {
    margin: 0px 0 15px 0;
    width: 100%;
}

.formContentPopup .setColor {
    background-color: #dd512a;
    border: #dd512a;
}

.formContentPopup button {
    margin-inline-start: 10%;
    width: auto;
}

.formContentPopup button:hover {
    background-color: dimgray;
    border: dimgray;
    opacity: 0.5;
}

.formContentPopup .divider {
    height: 1px;
    background-color: #d8d8d8;
    width: 100%;
    margin: 22px 0;
    position: relative;
}

.divider>span {
    position: absolute;
    width: 200px;
    top: -12px;
    display: block;
    left: calc((100% - 200px)/2);
    background: #fff;
    text-align: center;
}

.divider>a {
    position: absolute;
    width: 150px;
    top: -12px;
    display: block;
    right: 5%;
    background: #fff;
    text-align: center;
}

.my-alert-input {
    padding: 0;
    color: red;
    display: none;
}

input:focus {
    border: 1px solid #ced4da;
}

@media screen and (max-width:1100px) {
    .pageWidth {
        /*Nếu độ rộng của thiết bị tối đa là 800px thì thu ngắn div lại*/
        padding-right: 15px;
        padding-left: 15px;
        max-width: fit-content;
    }
    .headerBar {
        display: block;
        height: auto;
    }
    .headerBar .findForm {
        margin-left: 2%;
    }
    .headerBar .findForm .selection {
        min-width: 70vw;
    }
    .formContentPopup {
        width: 50%;
    }
    .headerBar .headerBar-right {
        width: 60vw;
        margin-left: 18%;
    }
    .headerBar-right {
        margin-left: 0;
    }
    .search-recommend {
        width: calc(70vw - 90px);
    }
}

@media screen and (max-width:600px) {
    .pageWidth {
        /*Nếu độ rộng của thiết bị tối đa là 800px thì thu ngắn div lại*/
        padding-right: 5px;
        padding-left: 5px;
        max-width: fit-content;
    }
    .headerBar {
        display: block;
        height: auto;
    }
    .headerBar .findForm {
        margin-left: 2px;
    }
    .headerBar .findForm .selection {
        min-width: 72vw;
    }
    .formContentPopup {
        width: 70%;
    }
    .headerBar .headerBar-right {
        width: 80vw;
        margin-left: 0.3%;
        margin-right: 0%;
    }
    .headerBar-left .category {
        width: 20px;
    }
    .search-recommend {
        width: calc(72vw - 90px);
    }
}

@media screen and (max-width:300px) {
    .pageWidth {
        /*Nếu độ rộng của thiết bị tối đa là 800px thì thu ngắn div lại*/
        padding-right: 5px;
        padding-left: 5px;
        max-width: fit-content;
    }
    .headerBar {
        display: block;
        height: auto;
    }
    .headerBar .findForm {
        margin-left: 20px;
    }
    .headerBar .findForm .selection {
        min-width: 75vw;
    }
    .formContentPopup {
        width: 90%;
    }
    .headerBar .headerBar-right {
        width: 100%;
    }
    .headerBar-right {
        margin-left: 0;
    }
}


/**********--------------------------------------------
                            Profile user css
*---------------------------------------------------*********/

.formProductPopup .user-infor {
    width: 100%;
    margin: 5px 0;
}

.user-infor h1 {
    text-align: center;
    color: #dd512a;
    padding: 15px 0;
    font-size: 25px;
}

.user-infor h2 {
    text-align: center;
    color: #dd512a;
    padding: 0 0 5px 0;
    font-size: 22px;
}

.user-infor .my-img {
    width: inherit;
    object-fit: contain;
}

.user-infor ul {
    padding: 0px;
}

.user-infor li {
    width: 100%;
    padding: 0px;
    font-size: 18px;
    font-weight: 400;
    list-style: none;
}

.user-infor li>span {
    color: #ff5e00;
}

.user-infor .username {
    color: #FF4F4F;
    font-size: 22px !important;
    font-weight: 600 !important;
}

.user-infor .my-form {
    border-left: 1px solid #242424;
}

.user-infor .my-form input {
    margin: 20px 0;
}

@media screen and (max-width:600px) {
    .user-infor .my-img {
        max-height: 60px;
    }
    .user-infor .my-form {
        border-left: 0;
    }
}


/*----------------------------------------------------
                            content css
------------------------------------------------------*/


/*-----------------------
3.3 mainmenu
-------------------------*/

.topnav {
    overflow: hidden;
    background-color: #2D3035;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 8px 10px 1px rgba(0, 0, 0, 0.14);
}

.fix-nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 900;
}

.topnav>a,
.topnav>button {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    font-weight: 470;
}

.topnav i {
    font-size: 16px;
    color: coral;
}

.topnav .my-drop>a,
.topnav .my-drop>button {
    float: left;
    display: block;
    color: #cecece;
    text-align: center;
    padding: 0 20px;
    margin: 10px 0;
    text-decoration: none;
    font-size: 17px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    font-weight: 470;
}

.topnav .my-drop {
    height: 80%;
}

.topnav a:hover {
    color: tomato;
}

.my-drop:hover .topnav-dropdown-content {
    visibility: visible;
    opacity: 1;
    display: block;
}


/* add */

.topnav-dropdown-content {
    background: #fff none repeat scroll 0 0;
    border-bottom: 5px solid #585852;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    min-width: 70vw;
    padding: 5px 5px 10px 5px;
    position: fixed;
    left: 30px;
    z-index: 800;
    transition: 0.5s;
    visibility: hidden;
    margin-top: 45px;
    opacity: 0;
}

.topnav-dropdown-content .mega-menu-list {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

.mega-list span {
    font-weight: 500;
    color: #ff0800;
    opacity: 0;
    transition: 0.5s;
    visibility: hidden;
}

.topnav-dropdown-content .mega-menu-list a {
    font-size: 16px;
    color: rgb(49, 49, 49);
    padding: 0;
    text-transform: uppercase;
    line-height: 30px;
    background: none;
    font-weight: 600;
}

.topnav-dropdown-content .mega-menu-list a:hover {
    color: rgba(104, 253, 183, 0.897);
}

.my-drop:hover .topnav-dropdown-content {
    display: block;
}

.topnav .icon {
    display: none;
}

@media screen and (min-width:901px) {
    .mega-list:hover span {
        opacity: 1;
        visibility: visible;
    }
}


/*  */

@media screen and (max-width: 900px) {
    .topnav>a {
        border-right: 0px;
    }
    .mega-list span {
        display: none;
    }
    .topnav-dropdown-content {
        border-bottom: 5px solid #DD512A;
    }
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav .my-drop {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
    .my-drop:hover .topnav-dropdown-content {
        display: block;
        margin-top: -15px;
        margin-left: 0;
    }
    .topnav-dropdown-content {
        min-width: 90vw;
        margin-left: 0;
        left: 15px;
        padding: 0px 0;
    }
    .topnav-dropdown-content .mega-menu-list a {
        font-size: 13px;
    }
}

@media screen and (max-width: 900px) {
    .topnav.responsive .icon {
        position: fixed;
        right: 0;
        background-color: #585852;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .topnav.responsive .my-drop {
        float: none;
        display: block;
        text-align: left;
    }
}

.icon-go-top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: none;
    font-size: 32px;
    background-color: rgba(255, 172, 172, 0.842);
    border-radius: 20px;
    z-index: 100;
}

.icon-go-top i {
    padding: 7px;
}

.icon-go-top i:hover {
    transform: scale(1.2);
}


/*-----------------------
3.4 mainmenu my cart
-------------------------*/

.topnav .shop-cart {
    float: right;
}


/*------------------------------------------------------
                            main css
    -------------------------------------------------------*/

.main-component {
    margin: 0px 0 30px 0;
}

.filter {
    display: block;
    white-space: normal;
    text-anchor: middle;
    justify-self: center;
    min-height: 70px;
    width: auto;
    border: 1px solid #ffffff;
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    margin: 0 0 27px 0;
    padding: 23px;
}

.filter span {
    font-size: 14px;
    padding: 0.9%;
    text-align: center;
    font-weight: 300;
    width: max-content;
}

.filter a {
    width: max-content;
    background-color: rgb(251, 255, 14);
    font-size: 18px;
    padding: 0.9%;
    margin-left: 1.2%;
    font-weight: 600;
    color: #000000;
}

.main-component .container {
    min-width: 99%;
    padding: 0px;
}

.main-component .products {
    display: inline-flex;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    align-items: center;
}

.main-component .products .thread_list {
    padding: 7px 10px;
    flex-basis: 25%;
    height: auto;
}

.main-component .one-product:hover {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 8px 10px 1px rgba(0, 0, 0, 0.14);
    transition: 1s;
}

.main-component .one-product {
    font-size: 15px;
    font-weight: 700;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0 1%;
    width: 100%;
    flex-direction: column;
    background: rgb(255, 255, 255);
    border: 0px solid #d3d3d3;
    height: 100%;
    overflow: hidden;
    letter-spacing: 1.1px;
    transition: 1s;
}

.main-component .one-product:hover img {
    padding: 0px;
    transition: 0.5s;
}

.one-product img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    background-position: center;
    position: relative;
    padding: 15px;
    transition: 0.5s;
}

.one-product p {
    margin-bottom: 0;
}

.one-product .product-content {
    color: rgb(46, 46, 46);
    display: -webkit-flex;
    flex-shrink: 1;
    flex-direction: column;
    flex: 1;
    padding: 10px;
}

i {
    padding: 0 5px 0 0;
}

.product-content .content {
    display: -webkit-flex;
    flex-shrink: 1;
    flex-direction: column;
    height: auto;
}

.product-content .content .user {
    color: rgb(26, 50, 187);
    font-size: 14px;
    line-height: 30px;
}

.one-product span {
    color: #242424;
}

.product-content .content .name-product {
    color: rgb(46, 46, 46);
    font-size: 12px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 30px;
}

.product-content .cost {
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: -0.5px;
    font-weight: 600;
}

.main-component .other {
    margin: 30px 0 10px 0;
    justify-content: center;
    display: flex;
}

@media(max-width:800px) {
    .main-component .products .thread_list {
        flex-basis: 50% !important;
        padding: 0.5px;
    }
    .container {
        padding: 0px !important;
        margin-right: 0px !important;
        margin-left: 0px !important;
        max-width: 100% !important;
    }
    /* .main-component .one-product {
        flex-basis: 50% !important;
    } */
}

@media(max-width:576px) {
    .container {
        padding: 0px !important;
        margin-right: 0px !important;
        margin-left: 0px !important;
        width: 100%;
    }
    .main-component .products .thread_list {
        flex-basis: 50% !important;
        /* padding: 5px; */
        height: auto;
    }
    .one-product img {
        height: 150px;
    }
    .filter span {
        display: none;
    }
    .one-product span {
        display: none;
    }
}

@media(min-width:801px) and (max-width:1000px) {
    .main-component .products .thread_list {
        flex-basis: 33% !important;
        padding: 10px;
    }
}


/*------------------------------------------------------- 
                    Hiển thị chi tiết 1 sản phẩm
     ---------------------------------------------------------*/

.product-description {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.733);
    z-index: 1000;
    cursor: pointer;
}

.formProductPopup {
    width: 85%;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 8px 10px 1px rgba(0, 0, 0, 0.14);
    background-color: #ffffff;
    top: 3%;
    padding: 30px;
    box-sizing: border-box;
    z-index: 9999;
    position: fixed;
    left: 7.5%;
    height: 94vh;
    display: flex;
    overflow-y: auto;
}

.formProductPopup>i {
    font-size: 35px;
    top: 3%;
    right: 7.5%;
    position: fixed;
}

.formProductPopup .show-img {
    padding: 3%;
    /* chỗ này responsive */
    width: 60%;
}

.formProductPopup .show-img>img {
    opacity: 1;
    width: 100%;
    height: 450px;
    object-fit: cover;
    background-position: center;
    position: relative;
    border-radius: 4px;
    border: 1px solid #8383839a;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 8px 10px 1px rgba(0, 0, 0, 0.14);
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 6.5% 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}

.dot:hover {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 3s;
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

.formProductPopup .show-img .more-img {
    display: flex;
    padding: 1%;
    justify-content: center;
}

.formProductPopup .show-img .more-img img {
    width: 25%;
    height: 70px;
    object-fit: cover;
    background-position: center;
    position: relative;
    margin: 4% 2%;
    border: 1px solid #8383839a;
    display: none;
}

.formProductPopup .show-img .more-img i {
    font-size: 40px;
    color: #242424;
    font-weight: 700;
    margin: 6.5%;
}

.formProductPopup .show-infor {
    width: 40%;
    padding: 2% 1%;
    justify-items: center;
}

.formProductPopup .show-infor .name-product {
    font-size: 22px;
    font-weight: 800;
    padding: 2% 0;
}

.formProductPopup .show-infor .other {
    display: block;
}

.formProductPopup .show-infor .other>p {
    font-size: 18px;
    font-weight: 400;
}

.formProductPopup .show-infor .cost {
    font-size: 20px;
    text-decoration: none;
    font-weight: 600;
    padding: 2% 0;
    color: sienna;
}

.formProductPopup .show-infor .color {
    display: flex;
    font-size: 20px;
    font-weight: 400;
    padding: 2% 0;
}

.formProductPopup .show-infor .color select {
    margin-left: 5%;
    max-width: 60%;
}

.formProductPopup .show-infor .total {
    padding: 2% 0 0 0;
    font-size: 20px;
    font-weight: 400;
    color: yellowgreen;
}

.formProductPopup .show-infor .buy {
    display: flex;
    justify-content: center;
    padding: 3% 0;
    color: yellow;
}

.formProductPopup .show-infor .other {
    font-size: 18px;
    font-weight: 400;
    padding: 2% 0;
    color: #2D3035;
}

@media screen and (max-width:576px) {
    .formProductPopup {
        width: 100%;
        left: 0;
        display: block;
        overflow-y: scroll;
    }
    .formProductPopup .show-img {
        padding: 3%;
        /* chỗ này responsive */
        width: 100%;
    }
    .formProductPopup>i {
        right: 0;
    }
    .formProductPopup .show-img>img {
        max-height: 350px;
    }
    .formProductPopup .show-infor {
        width: 100%;
    }
}


/*----------------------------------------------------
    /*------------------------------------------------------
                            footer css
--------------------------------------------------------*/


/*-----------------------
5.1 footer top
-------------------------*/

.footer-top-area {
    background: #2D3035;
}

.footer-top-container {
    background: #33363B;
}

.footer-top-left {
    background: #33363B;
    overflow: hidden;
}

.newsletter-area {
    background: #ff4f4f none repeat scroll 0 0;
    display: block;
    margin-top: 50px;
    padding: 20px;
}

.newsletter-area h2 {
    border-bottom: 2px solid #fff;
    display: block;
    padding-bottom: 15px;
}

.about-us-area h2,
.fllow-us-area h2,
.newsletter-area h2 {
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    text-transform: uppercase;
    margin: 0 0 13px;
}

.newsletter-area p,
.about-us-area p {
    color: #fff;
    margin: 0 0 10px;
    font-size: 12px;
    line-height: 18px;
}

.newsletter-form {
    border-radius: 0px;
    border: none;
    background: #FBFBFB;
    padding: 6px;
    font-size: 13px;
}

.newsletter-btn {
    background: #636363 none repeat scroll 0 0;
    border: 0 none;
    color: #fff;
    font-size: 14px;
    line-height: 35px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 10px;
    padding: 0 20px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    letter-spacing: 1.1px;
}

.newsletter-form-group .newsletter-form:focus,
.newsletter-form-group .newsletter-form:active {
    box-shadow: none;
    border: none;
    outline: 0 none;
}

.newsletter-btn:hover {
    background: #3A3D42;
}

.about-us-area,
.fllow-us-area {
    margin-top: 30px;
    padding: 0 20px;
}

.about-us-area p {
    color: #fff;
}

.fllow-us-area h2 {
    margin: 0 0 5px;
}

.flow-us-link {
    overflow: hidden;
    padding-bottom: 50px;
}

.flow-us-link li {
    float: left;
    list-style: none;
}

.flow-us-link li a {
    border: 1px solid #a3a3a3;
    border-radius: 100%;
    color: #a3a3a3;
    display: block;
    font-size: 20px;
    height: 40px;
    line-height: 38px;
    margin: 10px 10px 0 0;
    text-align: center;
    transition: all 0.3s ease 0s;
    width: 40px;
}

.flow-us-link li a:hover {
    background: #FF4F4F;
    color: #fff;
    border: 1px solid #FF4F4F;
}

.footer-top-right-1 {
    border-bottom: 1px solid #555555;
    padding-bottom: 34px;
}

.footer-top-right-1 p {
    margin: 0;
}

.footer-top-right-1 h2 {
    border-bottom: 1px solid #555;
    color: #fff;
    font-size: 18px;
    line-height: 22px;
    margin: 0 0 30px;
    padding-bottom: 10px;
    text-transform: uppercase;
}

.Store-Information {
    margin-top: 50px;
}

.Store-Information ul li {
    display: block;
    overflow: hidden;
    padding-bottom: 20px;
}

.info-lefticon {
    float: left;
}

.info-lefticon i {
    border: 2px solid #747474;
    border-radius: 100%;
    color: #747474;
    float: left;
    font-size: 15px;
    height: 36px;
    line-height: 32px;
    margin-right: 10px;
    text-align: center;
    width: 36px;
}

.info-text p {
    color: #fff;
    font-size: 12px;
    line-height: 18px;
    margin: 0;
}

.call-lh p {
    line-height: 36px;
}

.info-text p a {
    transition: all 0.3s ease 0s;
    color: #fff;
    display: block;
    font-size: 12px;
    line-height: 20px;
    text-transform: capitalize;
}

.info-text p a i {
    margin-right: 7px;
}

.info-text p a:hover {
    color: #FF4F4F;
}


/*-----------------------
5.2 footer bottom
-------------------------*/

.copyright-area {
    border-top: 1px solid #484a4f;
    background: #2D3035;
    padding: 20px 0;
}

.copy-right address {
    margin: 0;
    color: #fff;
    font-size: 12px;
    line-height: 25px;
    padding: 0;
    text-align: center;
}

.copy-right address a {
    color: #FF4F4F;
}

.copy-right address a:hover {
    color: #fff;
}


/*-------------------------------------------
            style for admin page

    -----------------------------------------------/
    /*--------------------------------------------
    category:

    -----------------------------------------------*/

.admin_page {
    width: auto;
}

.admin_page .area {
    border: 1px solid rgb(144, 1.7, 144);
    padding: 20px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 8px 10px 1px rgba(0, 0, 0, 0.14);
    border-radius: 10px;
    text-align: center;
}

.admin_page .show-infor {
    /*  */
    padding: 10px 0 10px 0;
}

.admin_page .show-infor .name-product {
    font-weight: 600;
    font-size: 18px;
    color: #303030;
}

.admin_page .show-infor .cost {
    font-weight: 700;
    font-size: 22px;
    color: #dd512a;
}

.admin_page .show-infor .color>label,
.admin_page .show-infor .color span {
    font-size: 18px !important;
    font-weight: 400 !important;
}

.admin_page .show-infor .other>p {
    padding: 3px !important;
    margin: 0px !important;
}

.admin_page label {
    font-size: 25px;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #dd512a;
    letter-spacing: 1.1px;
}

.admin_page option {
    padding: 7px 0 7px 0;
    border-top: 1px solid #ddd;
    margin: 0 5px 0 5px;
}

.admin_page select {
    margin: 5px 0 10px 0;
}

.admin_page .row {
    margin-top: 70px;
}

.admin_page button {
    background-color: #FF4F4F;
    border: #ff4f4f;
    letter-spacing: 1.1px;
}

.admin_page input {
    padding: 10px;
    margin: 30px 0 30px 0;
}

.admin_page span {
    text-align: left;
    font-size: 20px;
    font-weight: 400;
}

.admin_page .show-img {
    height: auto;
    display: block;
    padding: 0 0 40px 0;
}

.admin_page .row.show {
    margin-top: 30px;
    padding-bottom: 20px;
}

.admin_page .show-img img {
    margin: 2px 0;
    width: 30%;
    height: auto;
    object-fit: cover;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 8px 10px 1px rgba(0, 0, 0, 0.14);
}