    /*-------------------------------------------------------------------
    CSS INDEX
    ===================
	1. Theme Default CSS (body, link color, section etc)
	2. global css
    3. header css
    4. content css
	5. footer css
		5.1 footer top
		5.2 footer bottom
	
		
-------------------------------------------------------------------*/
    /*-----------------------
Theme Default CSS (body, link color, section, ...)
-------------------------*/
    
    body {
        background: #ddd repeat left top !important;
        font-weight: 300;
        font-size: 15px;
        -webkit-font-smoothing: antialiased;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    
    div {
        margin: 0;
        padding: 0;
    }
    /*-----------------------------------------------------------
                                header css
-----------------------------------------------------------*/
    
    .pageWidth {
        padding-right: 1%;
        padding-left: 1%;
        margin-right: auto;
        margin-left: auto;
        max-width: 1200px;
    }
    
    .headerBar {
        display: flex;
        padding: 15px 0 15px 0;
        align-items: center;
        height: 80px;
        box-sizing: border-box;
    }
    
    .headerBar .iconImg {
        width: 40px;
        height: 40px;
    }
    
    .headerBar .findForm {
        border-radius: 4px;
        display: flex;
        align-items: center;
        flex: 1;
        margin-left: 50px;
    }
    
    .headerBar .findForm .selection {
        display: inline-flex;
        margin-top: 15px;
        min-width: 725px;
    }
    
    .headerBar .findForm .inputColor {
        background-color: #f0f0f0;
        border: 1px solid rgba(80, 80, 80, 0.863);
    }
    
    .headerBar .findForm .searchColor {
        background-color: #dd512a;
        border: #dd512a;
    }
    
    .headerBar-right {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .headerBar-right .headerBar-register {
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 0.2px;
        margin-right: 22px;
    }
    
    .headerBar-right .headerBar-login {
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 0.2px;
        margin-right: 22px;
    }
    
    .headerBar-right .searchColor {
        background-color: #dd512a;
        border: #dd512a;
    }
    
    .headerBar-nav {
        border-top: 1px solid rgb(48, 47, 47);
        border-bottom: 1px solid rgb(48, 47, 47);
    }
    
    .headerBar-navInner {
        display: flex;
        align-items: center;
    }
    
    .headerBar-navInner>.Popup {
        border-right: 1px solid rgb(48, 47, 47);
        position: relative;
        width: 244px;
        box-sizing: border-box;
        padding: 12px 22px;
        position: relative;
        ;
    }
    
    .headerBar-navInner>* {
        padding: 12px 15px;
        line-height: 26px;
        box-sizing: border-box;
        height: 50px;
    }
    
    .headerBar-navInner .headerBar-navListCat {
        color: #DD512A;
    }
    
    .headerBar-right button:hover {
        background-color: dimgray;
        border: dimgray;
        opacity: 0.5;
    }
    
    #overlayRegister {
        position: fixed;
        display: none;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1000;
        cursor: pointer;
    }
    
    #overlayLogin {
        position: fixed;
        display: none;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.589);
        z-index: 1000;
        cursor: pointer;
    }
    
    .formContentPopup {
        width: 400px;
        border-radius: 4px;
        box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 8px 10px 1px rgba(0, 0, 0, 0.14);
        background-color: #ffffff;
        margin-top: 3%;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        padding: 30px;
        box-sizing: border-box;
        z-index: 9999;
    }
    
    .popupHeading {
        font-size: 24px;
        font-weight: 500;
        color: #242424;
        text-align: center;
        margin-bottom: 24px;
    }
    
    .formContentPopup input {
        margin: 25px 0 25px 0;
        width: 100%;
    }
    
    .formContentPopup select {
        margin: 0px 0 15px 0;
        width: 100%;
    }
    
    .formContentPopup .setColor {
        background-color: #dd512a;
        border: #dd512a;
    }
    
    .formContentPopup button {
        margin-inline-start: 10%;
        width: auto;
    }
    
    .formContentPopup button:hover {
        background-color: dimgray;
        border: dimgray;
        opacity: 0.5;
    }
    
    .formContentPopup .divider {
        height: 1px;
        background-color: #d8d8d8;
        width: 100%;
        margin: 22px 0;
        position: relative;
    }
    
    .divider>span {
        position: absolute;
        width: 200px;
        top: -12px;
        display: block;
        left: calc((100% - 200px)/2);
        background: #fff;
        text-align: center;
    }
    
    .divider>a {
        position: absolute;
        width: 150px;
        top: -12px;
        display: block;
        right: 5%;
        background: #fff;
        text-align: center;
    }
    
    .my-alert-input {
        padding: 0;
        color: red;
        display: none;
    }
    
    input:focus {
        border: 1px solid #ced4da;
    }
    /*----------------------------------------------------
                            content css
------------------------------------------------------*/
    /*-----------------------
3.3 mainmenu
-------------------------*/
    
    .topnav {
        overflow: hidden;
        background-color: #3A3D42;
    }
    
    .topnav a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 20px;
        font-family: 'Bitter', serif;
    }
    
    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }
    
    .topnav a.active {
        background-color: rgb(113, 113, 114);
        color: white;
        margin-left: 5%;
    }
    
    .topnav .icon {
        display: none;
    }
    
    @media screen and (max-width: 600px) {
        .topnav a:not(:first-child) {
            display: none;
        }
        .topnav a.icon {
            float: right;
            display: block;
        }
    }
    
    @media screen and (max-width: 600px) {
        .topnav.responsive {
            position: relative;
        }
        .topnav.responsive .icon {
            position: absolute;
            right: 0;
            top: 0;
        }
        .topnav.responsive a {
            float: none;
            display: block;
            text-align: left;
        }
    }
    /*-----------------------
3.4 mainmenu my cart
-------------------------*/
    
    .shop-cart {
        margin-inline-start: 45%;
    }
    /*------------------------------------------------------
                            main css
    -------------------------------------------------------*/
    /*------------------------------------------------------
                            footer css
--------------------------------------------------------*/
    /*-----------------------
5.1 footer top
-------------------------*/
    
    .footer-top-area {
        background: #2D3035;
    }
    
    .footer-top-container {
        background: #33363B;
    }
    
    .footer-top-left {
        background: #393C41;
        overflow: hidden;
    }
    
    .newsletter-area {
        background: #ff4f4f none repeat scroll 0 0;
        display: block;
        margin-top: 50px;
        padding: 20px;
    }
    
    .newsletter-area h2 {
        border-bottom: 2px solid #fff;
        display: block;
        padding-bottom: 15px;
    }
    
    .about-us-area h2,
    .fllow-us-area h2,
    .newsletter-area h2 {
        font-size: 18px;
        line-height: 22px;
        color: #fff;
        text-transform: uppercase;
        margin: 0 0 13px;
    }
    
    .newsletter-area p,
    .about-us-area p {
        color: #fff;
        margin: 0 0 10px;
        font-size: 12px;
        line-height: 18px;
    }
    
    .newsletter-form {
        border-radius: 0px;
        border: none;
        background: #FBFBFB;
        padding: 6px;
        font-size: 13px;
    }
    
    .newsletter-btn {
        background: #636363 none repeat scroll 0 0;
        border: 0 none;
        color: #fff;
        font-size: 14px;
        line-height: 35px;
        font-family: 'Bitter', serif;
        margin-top: 10px;
        padding: 0 20px;
        text-transform: uppercase;
        transition: all 0.3s ease 0s;
    }
    
    .newsletter-form-group .newsletter-form:focus,
    .newsletter-form-group .newsletter-form:active {
        box-shadow: none;
        border: none;
        outline: 0 none;
    }
    
    .newsletter-btn:hover {
        background: #3A3D42;
    }
    
    .about-us-area,
    .fllow-us-area {
        margin-top: 30px;
        padding: 0 20px;
    }
    
    .about-us-area p {
        color: #fff;
    }
    
    .fllow-us-area h2 {
        margin: 0 0 5px;
    }
    
    .flow-us-link {
        overflow: hidden;
        padding-bottom: 50px;
    }
    
    .flow-us-link li {
        float: left;
        list-style: none;
    }
    
    .flow-us-link li a {
        border: 1px solid #a3a3a3;
        border-radius: 100%;
        color: #a3a3a3;
        display: block;
        font-size: 20px;
        height: 40px;
        line-height: 38px;
        margin: 10px 10px 0 0;
        text-align: center;
        transition: all 0.3s ease 0s;
        width: 40px;
    }
    
    .flow-us-link li a:hover {
        background: #FF4F4F;
        color: #fff;
        border: 1px solid #FF4F4F;
    }
    
    .footer-top-right-1 {
        border-bottom: 1px solid #555555;
        padding-bottom: 34px;
    }
    
    .footer-top-right-1 p {
        margin: 0;
    }
    
    .footer-top-right-1 h2 {
        border-bottom: 1px solid #555;
        color: #fff;
        font-size: 18px;
        line-height: 22px;
        margin: 0 0 30px;
        padding-bottom: 10px;
        text-transform: uppercase;
    }
    
    .Store-Information {
        margin-top: 50px;
    }
    
    .Store-Information ul li {
        display: block;
        overflow: hidden;
        padding-bottom: 20px;
    }
    
    .info-lefticon {
        float: left;
    }
    
    .info-lefticon i {
        border: 2px solid #747474;
        border-radius: 100%;
        color: #747474;
        float: left;
        font-size: 15px;
        height: 36px;
        line-height: 32px;
        margin-right: 10px;
        text-align: center;
        width: 36px;
    }
    
    .info-text p {
        color: #fff;
        font-size: 12px;
        line-height: 18px;
        margin: 0;
    }
    
    .call-lh p {
        line-height: 36px;
    }
    
    .info-text p a {
        transition: all 0.3s ease 0s;
        color: #fff;
        display: block;
        font-size: 12px;
        line-height: 20px;
        text-transform: capitalize;
    }
    
    .info-text p a i {
        margin-right: 7px;
    }
    
    .info-text p a:hover {
        color: #FF4F4F;
    }
    /*-----------------------
5.2 footer bottom
-------------------------*/
    
    .copyright-area {
        border-top: 1px solid #484a4f;
        background: #2D3035;
        padding: 20px 0;
    }
    
    .copy-right address {
        margin: 0;
        color: #fff;
        font-size: 12px;
        line-height: 25px;
        padding: 0;
        text-align: center;
    }
    
    .copy-right address a {
        color: #FF4F4F;
    }
    
    .copy-right address a:hover {
        color: #fff;
    }
    
    @media(max-width:800px) {
        .pageWidth {
            /*Nếu độ rộng của thiết bị tối đa là 800px thì thu ngắn div lại*/
            padding-right: 15px;
            padding-left: 15px;
        }
        .headerBar .findForm .selection {
            min-width: 120px;
        }
        .formContentPopup {
            width: 50%;
        }
    }